.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
}

.view-more-button {
  background-color: #7A7A7A;
  color: #fff;
  font-size: 1.3rem;
  padding: 18px 40px;
  border: none;
  cursor: pointer;
  border-radius: 16px;
}

.view-more-button:hover {
  background-color: #625f5f;
}
