.header {
    margin: 15px 0 50px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-logo {
    align-items: center;
    margin-left: 40px;
}

.header__nav-logo img {
    background: none;
}

.header__nav-pages {
    display: flex;
    margin-left: 200px;
}

.header__page {
    margin-right: 100px;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid #333;
    cursor: pointer;
    background-color: ghostwhite;
}

.header__page a {
    text-decoration: none;
    color: inherit;
}

.header__page:hover {
    border-color: #82BBB5;
}

.header__search {
    width: 200px;
    height: 35px;
    background-color: ghostwhite;
    font-size: 20px;
    margin-right: 35px;
    outline: 1px solid #82BBB5;
    appearance: none;
    border: 1px solid #000;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
    line-height: normal;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}